.bg-gradient-orange {
    background-image: linear-gradient(to right, #EAB543 0%, #F97F51 100%) !important;
}

.bg-gradient-light-orange {
    background-image: linear-gradient(to right, #F8EFBA 0%, #FEA47F 100%) !important;
}

hr {
    background-image: linear-gradient(to right, #FEA47F 0%, #F8EFBA 100%);
}

.has-text-orange {
    color: #f83600 !important;
}

.has-text-orange::after {
    border-color: #f83600 !important;
}

.has-glow-md {
    box-shadow: 0 0px 0 1px #F8EFBA, 0 0.5em 0.75em -0.5em #FEA47F;
}

.has-glow-sm {
    box-shadow: 0 0px 0 1px #F8EFBA, 0 1px 1px -0.125em #FEA47F;
}

.pagination-link.is-current {
    background-color: #f83600;
    border-color: #f83600;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: #f83600;
}

.loading-overlay .title {
    color:  #f83600 !important;
}

.loading-overlay .progress.is-link:indeterminate {
    background-image: linear-gradient(to right, #f83600 30%, #ededed 30%);
}

.pagination-button {
    width: 9em;
}

ol[type=devanagari] {
    list-style-type: devanagari;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 1.5rem;
    }

    .content-card-section {
        padding: 0.5rem 0.5rem;
    }

    .content-card-section .has-glow-md {
        box-shadow: 0 0px 0 1px #F8EFBA, 0 1px 1px -0.125em #ffcdbd;
    }
}

.image-overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}