.bg-gradient-orange {
    background-image: linear-gradient(to right, #f5a91c 0%, #ff8d58 100%) !important;
}

.bg-gradient-light-orange {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%) !important;
}

hr {
    background-image: linear-gradient(to right, #fcb69f 0%, #ffecd2 100%);
}

.has-text-orange {
    color: #f83600 !important;
}

.has-glow-md {
    box-shadow: 0 0px 0 1px #ffecd2, 0 0.5em 1em -0.125em #ffcdbd;
}

.has-glow-sm {
    box-shadow: 0 0px 0 1px #ffecd2, 0 1px 1px -0.125em #ffcdbd;
}

.pagination-link.is-current {
    background-color: #f83600;
    border-color: #f83600;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: #f83600;
}

.loading-overlay .title {
    color:  #f83600 !important;
}

.loading-overlay .progress.is-link:indeterminate {
    background-image: linear-gradient(to right, #f83600 30%, #ededed 30%);
}