.lang-switch-buttons {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.pagination-button {
    width: 10em;
}

.pagination-list {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .column-responsive {
        padding: 0.4rem 0.1rem;
    }
}